li#accordion-section-maximus_movie_video_pro h3 {
    color: #fff!important;
    background-color: #008EC2!important;
}
li#accordion-section-maximus_movie_video_pro h3:after {
    color:#fff!important;
}